.portfolio-item{
    img{
        max-width: 100%;
        padding-bottom: 5rem;
    }
    a{
        font-size: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 576px){
    .education-item{
        padding-bottom: 20px;
    }
}