#text-info{
    margin-top: 5rem;
}

.text-info-card{
    padding: 4rem;
    p{
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.button{
    font-size: 1.4rem;
    display: block;
    margin: 0 auto;
    width: 100%;
    background: $main-color;
}

.bottom-card{
    padding: 2rem 0;
}