$main-color: #009999;

body{
    background: aliceblue;
}

.section{
    margin-top: 5rem;
}

.section-header{
    justify-content: center;
    margin-bottom: 4rem;
    h2{
        line-height: 6.4rem;
        font-size: 3rem;
        padding-left: 1rem;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 992px){
    .section-header img{
        max-height: 64px * 0.9;
    }
}

@media screen and (max-width: 768px){
    .section-header img{
        max-height: 64px * 0.7;
    }
}

@media screen and (max-width: 525px){
    .section-header img{
        max-height: 64px * 0.6;
    }
}

@media screen and (max-width: 470px){
    .section-header img{
        max-height: 64px * 0.5;
    }
}

@import '_navigation';
@import '_main-info';
@import '_text-info';
@import '_education';
@import '_portfolio';
@import '_contact';