body {
  background: aliceblue; }

.section {
  margin-top: 5rem; }

.section-header {
  justify-content: center;
  margin-bottom: 4rem; }

.section-header h2 {
  line-height: 6.4rem;
  font-size: 3rem;
  padding-left: 1rem;
  text-transform: uppercase; }

@media screen and (max-width: 992px) {
  .section-header img {
    max-height: 57.6px; } }

@media screen and (max-width: 768px) {
  .section-header img {
    max-height: 44.8px; } }

@media screen and (max-width: 525px) {
  .section-header img {
    max-height: 38.4px; } }

@media screen and (max-width: 470px) {
  .section-header img {
    max-height: 32px; } }

#home {
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%; }

@media screen and (max-width: 900px) {
  #home {
    background: rgba(0, 0, 0, 0.6); }
  #home a {
    color: #dfdfdf;
    text-shadow: 1px 1px 2px black; } }

#main-info {
  margin-top: 7rem; }

.main-info__title {
  font-size: 4rem; }

.main-info__text {
  font-size: 2rem; }

.main-info__list {
  padding: 1.5rem 0; }

.main-info__list li {
  line-height: 3rem; }

.main-info__list li * {
  margin-right: 10px; }

.main-info-body {
  padding: 2rem 5rem;
  background: #009999;
  height: 100%;
  color: #fff;
  text-shadow: 1px 1px 2px black; }

.card {
  overflow: hidden; }

.right-side {
  transform: skewX(25deg);
  background: #fff;
  margin-left: -10%;
  position: relative;
  margin-bottom: -1px; }

.right-side img {
  position: absolute;
  right: -28%;
  bottom: 0;
  transform: skewX(-25deg); }

.social-links svg {
  font-size: 3rem;
  margin-left: 1.5rem; }

#text-info {
  margin-top: 5rem; }

.text-info-card {
  padding: 4rem; }

.text-info-card p {
  font-size: 1.6rem;
  line-height: 1.2; }

.button {
  font-size: 1.4rem;
  display: block;
  margin: 0 auto;
  width: 100%;
  background: #009999; }

.bottom-card {
  padding: 2rem 0; }

.education-item img {
  max-height: 35rem;
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto; }

.education-item h3 {
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center; }

@media screen and (max-width: 1200px) {
  .education-item img {
    max-height: 30rem; } }

@media screen and (max-width: 992px) {
  .education-item img {
    max-height: 22rem; } }

.portfolio-item img {
  max-width: 100%;
  padding-bottom: 5rem; }

.portfolio-item a {
  font-size: 2rem;
  padding-bottom: 2rem; }

@media screen and (max-width: 576px) {
  .education-item {
    padding-bottom: 20px; } }

#user-message {
  resize: none; }

form {
  background: #fff;
  padding: 3rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
  border-radius: 0.5rem; }

.form-group * {
  font-size: 1.8rem; }

.btn {
  font-size: 1.8rem;
  background: #009999; }

.submit-button {
  width: 100%; }

.contacts {
  padding-bottom: 4rem; }

.alert {
  margin-top: 2rem;
  font-size: 1.8rem; }
