$main-color: #009999;

body{
    background: aliceblue;
}

.section{
    margin-top: 5rem;
}

.section-header{
    justify-content: center;
    margin-bottom: 4rem;
    h2{
        line-height: 6.4rem;
        font-size: 3rem;
        padding-left: 1rem;
        text-transform: uppercase;
    }
}

@import '_navigation';
@import '_main-info';
@import '_text-info';
@import '_education';
@import '_portfolio';
@import '_contact';